 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 789px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  font-family: Roboto, sans-serif;
  margin: 160px auto 0;
}

.u-section-1 .u-text-2 {
  width: 769px;
  font-size: 1.875rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 246px 277px 0 618px;
}

.u-section-1 .u-image-1 {
  width: 410px;
  height: 218px;
  margin: -250px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 80px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: -351px;
    margin-left: 522px;
  }

  .u-section-1 .u-image-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 82px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    width: 509px;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 250px;
    margin-right: 65px;
    margin-left: 410px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 129px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 242px;
    margin-right: 16px;
    margin-left: 280px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -250px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 556px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 67px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-right: 0;
    margin-left: 25px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 250px;
    margin-right: -157px;
    margin-left: 157px;
  }

  .u-section-1 .u-image-1 {
    height: 215px;
    width: 390px;
    margin-top: -263px;
    margin-left: -25px;
    margin-right: -25px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/22415068-0.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 756px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 432px;
  margin: 114px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 26px 354px 0 136px;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 45px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 537px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 33px;
    margin-bottom: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 411px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-2 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 771px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 25px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 750px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 48px;
}

.u-section-3 .u-image-1 {
  min-height: 324px;
  background-image: url("images/31f9bf383c708b46479f45ccff6f15c71.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 324px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 53px;
}

.u-section-3 .u-text-1 {
  margin: 37px 7px 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 7px 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 13px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 324px;
}

.u-section-3 .u-container-layout-3 {
  padding: 14px 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  margin: 12px 50px 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 20px 72px 0 48px;
}

.u-section-3 .u-image-2 {
  min-height: 324px;
  background-image: url("images/f82d94cbe901d6468e30d92328652e96.png");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-image-1 {
    min-height: 315px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    height: 38px;
    width: 99px;
    padding: 7px 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 315px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-right: 7px;
    margin-left: 13px;
  }

  .u-section-3 .u-image-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.75rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 35px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 961px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 24px;
  }

  .u-section-3 .u-image-2 {
    min-height: 194px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 729px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 138px 96px 0;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 128px;
    margin-left: -12px;
    margin-right: -12px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 80px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-4 .u-text-1 {
    width: 528px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 130px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 78px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1103px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 121px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 87px;
  }
}