 .u-section-1 {
  background-image: none;
  min-height: 1033px;
}

.u-section-1 .u-image-1 {
  width: 660px;
  height: 254px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 646px auto 0 calc(((100% - 1140px) / 2) + -90px);
}

.u-section-1 .u-image-2 {
  width: 661px;
  height: 314px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -687px calc(((100% - 1140px) / 2) + -24px) 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 4.5rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -457px 134px 0 calc(((100% - 1140px) / 2) + 499px);
}

.u-section-1 .u-image-3 {
  width: 618px;
  height: 618px;
  transition-duration: 0.5s;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -149px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -453px 124px 0 calc(((100% - 1140px) / 2) + 489px);
}

.u-section-1 .u-image-4 {
  width: 410px;
  height: 218px;
  margin: 399px calc(((100% - 1140px) / 2) + 102px) 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 0 calc(((100% - 1140px) / 2) + 142px) 0 calc(((100% - 1140px) / 2) + 669px);
}

.u-section-1 .u-image-5 {
  width: 448px;
  height: 448px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -312px auto 60px calc(((100% - 1140px) / 2) + 294px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 576px;
    height: 239px;
    margin-top: 528px;
    margin-left: calc(((100% - 940px) / 2) + -95px);
  }

  .u-section-1 .u-image-2 {
    width: 589px;
    height: 282px;
    margin-top: -548px;
    margin-right: calc(((100% - 940px) / 2) + -30px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -431px;
    margin-right: calc(((100% - 940px) / 2) + 10px);
    margin-left: calc(((100% - 940px) / 2) + 411px);
  }

  .u-section-1 .u-image-3 {
    width: 553px;
    height: 553px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -383px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 411px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 333px;
    margin-right: calc(((100% - 940px) / 2) + -17px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 23px);
    margin-left: calc(((100% - 940px) / 2) + 587px);
  }

  .u-section-1 .u-image-5 {
    margin-top: -340px;
    margin-left: calc(((100% - 940px) / 2) + 246px);
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    width: 395px;
    height: 156px;
    margin-top: 477px;
    margin-left: calc(((100% - 720px) / 2) + -92px);
  }

  .u-section-1 .u-image-2 {
    width: 511px;
    height: 241px;
    margin-top: -501px;
    margin-right: calc(((100% - 720px) / 2) + -39px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-top: -346px;
    margin-right: calc(((100% - 720px) / 2) + 38px);
    margin-left: calc(((100% - 720px) / 2) + 337px);
  }

  .u-section-1 .u-image-3 {
    width: 485px;
    height: 485px;
    margin-top: -79px;
    margin-left: calc(((100% - 720px) / 2) + -95px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -399px;
    margin-right: calc(((100% - 720px) / 2) + -64px);
    margin-left: calc(((100% - 720px) / 2) + 254px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 329px;
    margin-right: calc(((100% - 720px) / 2) + -27px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 7px;
    margin-right: calc(((100% - 720px) / 2) + 13px);
    margin-left: calc(((100% - 720px) / 2) + 377px);
  }

  .u-section-1 .u-image-5 {
    margin-top: -310px;
    margin-left: calc(((100% - 720px) / 2) + 62px);
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 826px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -388px;
    margin-left: calc(((100% - 540px) / 2) + -92px);
  }

  .u-section-1 .u-image-2 {
    width: 424px;
    height: 207px;
    margin-top: 124px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -294px;
    margin-right: calc(((100% - 540px) / 2) + -27px);
    margin-left: calc(((100% - 540px) / 2) + 295px);
  }

  .u-section-1 .u-image-3 {
    width: 390px;
    height: 390px;
    margin-top: -69px;
    margin-left: calc(((100% - 540px) / 2) + -89px);
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -314px;
    margin-right: calc(((100% - 540px) / 2) + -58px);
    margin-left: calc(((100% - 540px) / 2) + 210px);
  }

  .u-section-1 .u-image-4 {
    margin-top: 320px;
    margin-right: calc(((100% - 540px) / 2) + -27px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2) + 13px);
    margin-left: calc(((100% - 540px) / 2) + 197px);
  }

  .u-section-1 .u-image-5 {
    margin-top: -315px;
    margin-bottom: 26px;
    margin-left: calc(((100% - 540px) / 2) + -128px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1233px;
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2) + -77px);
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    height: 255px;
    margin-top: 362px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -525px;
    margin-right: calc(((100% - 340px) / 2) + -21px);
    margin-left: calc(((100% - 340px) / 2) + 145px);
  }

  .u-section-1 .u-image-3 {
    width: 356px;
    height: 356px;
    margin-top: -116px;
    margin-left: calc(((100% - 340px) / 2) + -120px);
  }

  .u-section-1 .u-text-2 {
    margin-top: -230px;
    margin-right: calc(((100% - 340px) / 2) + 21px);
    margin-left: calc(((100% - 340px) / 2) + 153px);
  }

  .u-section-1 .u-image-4 {
    width: 381px;
    height: 201px;
    margin-top: 500px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 11px;
    margin-right: calc(((100% - 340px) / 2) + -35px);
    margin-left: calc(((100% - 340px) / 2) + 45px);
  }

  .u-section-1 .u-image-5 {
    width: 398px;
    height: 398px;
    margin-top: -89px;
    margin-bottom: 8px;
    margin-left: calc(((100% - 340px) / 2) + -159px);
  }
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}.u-section-2 .u-sheet-1 {
  min-height: 54px;
}.u-section-3 .u-sheet-1 {
  min-height: 507px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-family: Montserrat;
  font-size: 4.5rem;
  width: 349px;
  margin: 33px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  margin: 33px 328px 0 120px;
}

.u-section-3 .u-image-1 {
  width: 536px;
  height: 536px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: -443px -39px 18px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 168px;
    margin-left: 20px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -328px;
    margin-right: 0;
    margin-bottom: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 28px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -336px;
    margin-right: -155px;
    margin-bottom: 57px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 536px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 43px;
    margin-right: 126px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -337px;
    margin-right: -140px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 43px;
    margin-right: 108px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 33px;
    margin-right: 95px;
    margin-left: -29px;
  }

  .u-section-3 .u-image-1 {
    width: 398px;
    height: 398px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -269px;
    margin-right: -188px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 265px;
}

.u-section-4 .u-rotation-parent-1 {
  width: 87px;
  height: 104px;
  margin: 93px auto 0 231px;
}

.u-section-4 .u-shape-1 {
  width: 104px;
  height: 87px;
}

.u-section-4 .u-rotation-parent-2 {
  width: 99px;
  height: 99px;
  margin: -101px 243px 0 auto;
}

.u-section-4 .u-shape-2 {
  width: 99px;
  height: 99px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 456px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -83px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-rotation-parent-1 {
    margin-top: 62px;
    margin-left: 36px;
  }

  .u-section-4 .u-shape-1 {
    margin: 36px auto 60px 106px;
  }

  .u-section-4 .u-rotation-parent-2 {
    margin-right: 143px;
  }

  .u-section-4 .u-shape-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-rotation-parent-1 {
    margin-top: 79px;
    margin-right: 168px;
    margin-left: auto;
  }

  .u-section-4 .u-shape-1 {
    width: 87px;
  }

  .u-section-4 .u-rotation-parent-2 {
    margin-top: -111px;
    margin-right: auto;
    margin-left: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-rotation-parent-1 {
    width: 95px;
    height: 100px;
    margin-top: 78px;
    margin-right: 88px;
  }

  .u-section-4 .u-shape-1 {
    width: 95px;
    height: 95px;
  }

  .u-section-4 .u-rotation-parent-2 {
    margin-top: -107px;
    margin-left: -50px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 59px;
    height: 71px;
    margin-top: 44px;
    margin-right: 90px;
  }

  .u-section-4 .u-shape-1 {
    width: 59px;
    height: 59px;
  }

  .u-section-4 .u-rotation-parent-2 {
    width: 49px;
    height: 66px;
    margin-top: -87px;
    margin-left: -24px;
  }

  .u-section-4 .u-shape-2 {
    width: 66px;
    height: 49px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin: -49px -25px 34px 25px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 852px;
}

.u-section-5 .u-image-1 {
  width: 483px;
  height: 385px;
  margin: 21px auto 0 -36px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 27px 128px 0 330px;
}

.u-section-5 .u-image-2 {
  width: 822px;
  height: 411px;
  object-position: 50% 0%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 104px auto 0 0;
}

.u-section-5 .u-custom-html-1 {
  min-height: 507px;
  margin: -459px 56px 0 728px;
}

.u-section-5 .u-image-3 {
  width: 864px;
  height: 864px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -869px -425px 0 auto;
}

.u-section-5 .u-image-4 {
  width: 252px;
  height: 252px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -728px auto 0 30px;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  background-image: none;
  margin: -55px auto 60px 341px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 28px;
    margin-left: 230px;
  }

  .u-section-5 .u-custom-html-1 {
    height: auto;
    margin-right: 0;
    margin-left: 584px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 141px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-5 .u-image-1 {
    margin-top: 218px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -574px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
    font-weight: normal;
    width: auto;
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-5 .u-image-2 {
    width: 720px;
    height: 360px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-top: -408px;
    margin-left: 364px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -130px;
    margin-right: -432px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -616px;
    margin-left: -50px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -327px;
    margin-left: -21px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-5 .u-image-1 {
    margin-top: 201px;
    margin-right: auto;
    margin-left: -50px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -571px;
    margin-right: -50px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 270px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-top: -318px;
    margin-left: 184px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -142px;
    margin-right: -372px;
  }

  .u-section-5 .u-image-4 {
    width: 150px;
    height: 150px;
    margin-top: -872px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 444px;
    margin-left: 131px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 271px;
    margin-top: 172px;
    margin-left: -33px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -428px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 6px;
    margin-left: 131px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 170px;
  }

  .u-section-5 .u-custom-html-1 {
    margin-top: -218px;
    margin-left: 0;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-top: -10px;
    margin-right: -192px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -444px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 311px;
    margin-left: auto;
    margin-bottom: 48px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 70px;
}.u-section-7 .u-sheet-1 {
  min-height: 1111px;
}

.u-section-7 .u-image-1 {
  width: 383px;
  height: 412px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 607px 40px 0 auto;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: -300px;
  margin: -991px auto 0 258px;
}

.u-section-7 .u-image-2 {
  width: 647px;
  height: 462px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 47px 40px 0 auto;
}

.u-section-7 .u-image-3 {
  width: 631px;
  height: 631px;
  margin: -500px auto 0 -157px;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -12px 440px 0 18px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    margin-top: 596px;
    margin-right: 0;
  }

  .u-section-7 .u-text-1 {
    margin-top: -981px;
  }

  .u-section-7 .u-image-2 {
    margin-top: 28px;
    margin-right: -27px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -481px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 470px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1120px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 567px;
    margin-right: -23px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: -955px;
    margin-right: 40px;
    margin-left: 65px;
  }

  .u-section-7 .u-image-2 {
    width: 597px;
    margin-top: 18px;
    margin-right: -50px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -480px;
    margin-left: -233px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -58px;
    margin-right: 394px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-7 .u-image-1 {
    width: 350px;
    height: 376px;
    margin-top: 506px;
    margin-right: -25px;
  }

  .u-section-7 .u-text-1 {
    margin-top: -863px;
    margin-left: -25px;
    margin-right: -25px;
  }

  .u-section-7 .u-image-2 {
    width: 540px;
    height: 418px;
    margin-top: 19px;
    margin-right: -38px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -284px;
    margin-left: -255px;
  }

  .u-section-7 .u-text-2 {
    margin: 38px 0 34px -15px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 987px;
  }

  .u-section-7 .u-image-1 {
    margin-top: 375px;
    margin-right: -50px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -731px;
    margin-right: 0;
    margin-left: 94px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 263px;
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-7 .u-image-3 {
    width: 475px;
    height: 475px;
    margin-top: -177px;
    margin-left: -211px;
  }

  .u-section-7 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 118px;
    margin-left: 0;
    margin-bottom: 48px;
  }
}